$bg-color       : #f4f4f4;
$dark-bg-color  : #efefef;

$color          : #333;
$span-color     : rgb(62,122,162);

$font           : 'Open Sans', sans-serif;
$alt-font       : 'Roboto', sans-serif;

$name-size      : 2em;
$title-size     : 1.2em;
$link-size      : 1.1em;

$media-0        : 420px;
$media-1        : 530px;
$media-2        : 728px;
$media-3        : 768px;
$media-4        : 880px;
$media-5        : 970px;
$media-6        : 1024px;
$media-7        : 1080px;
$media-8        : 1200px;
$media-8        : 1600px;
