$bg-color       : #f4f4f4;
$dark-bg-color  : #efefef;

$color          : #333;
$span-color     : rgb(62,122,162);

$font           : 'Open Sans', sans-serif;
$alt-font       : 'Roboto', sans-serif;

$name-size      : 2em;
$title-size     : 1.2em;
$link-size      : 1.1em;
